body {
  font-family: "Courier New", Courier, monospace;
}
header {
  text-align: left;
  font-size: 12px;
  color: #bec2ca;
  margin-left: 15px;
}

input {
  width: 350px;
}
img {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-align: center;
  color: #5a6275;
  display: inline-block;
  font-size: 70px;
  font-weight: 800;
}

h2 {
  text-align: center;
  font-weight: 800;
  color: #5a6275;
  padding-bottom: 20px;
}

ul {
  text-align: left;
  font-size: 13px;
  display: inline-block;
  list-style-type: none;
  color: #5a6275;
}

footer {
  padding-left: 70px;
  padding-top: 20px;
}
form {
  border: solid #eeeff1;
  border-color: rgb(238, 239, 241);
  border-style: solid;
  border-width: 2px;
  padding-bottom: 8px;
  box-shadow: 10px 5px 5px #eeeff1;
}
input:focus {
  outline: none;
  border: none;
}

.btn {
  border: solid #eeeff1;
  border-color: rgb(238, 239, 241);
  border-style: solid;
  border-width: 2px;
  border-radius: 0%;
  box-shadow: 10px 5px 5px #eeeff1;
  background-color: white;
}
.days {
  padding: 20px;
}
.result {
  padding: 20px;
}
.icons {
  color: #5a6275;
}
.left {
  padding: 30px;
}

.app-container {
  display: block;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 60px;
  margin-left: 60px;
  padding: 20px;
  max-width: 620px;
  border: solid #eeeff1;
  border-width: 2px;
  box-shadow: 10px 5px 5px #eeeff1;
  color: #5a6275;
}

.temperature-container .units {
  position: relative;
  font-size: 16px;
  top: -40px;
}

#description {
  text-transform: capitalize;
}

input:focus {
  outline: none;
  border: none;
}

textarea {
  border: none;
  outline: none;
}
